:host {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 100%;
  background-color: #212121;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  vertical-align: middle;
  list-style-type: none;
  margin: 0 2px 0 6px;
}

h3 {
  font-size: 1.4rem;
}

a {
  font-size: 1.2rem;
  border: 1px solid #9DF3C4;
  padding: 3px 6px;
  border-radius: 3px;
  color: darken(#9DF3C4, 10%);

  transition: all .25s;

  &:hover {
    cursor: pointer;
    background-color: #9DF3C4;
    color: darken(#BBE1FA, 30%);
  }
}


mat-toolbar {
  display: flex;
  flex-flow: row;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

img {
  width: 60px;
}

.header {
  &__wrapper {
    padding: 0 1.5vw;
    color: darken(#9DF3C4, 10%);
    background-color: inherit;
  }

  &__logo {
    transition: all .25s;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: 15vw;
  }
}

@media (max-width: 1200px) {
  .header {
    &__title {
      justify-content: flex-end;
      margin-left: 0;
      margin-right: 2vw;
    }
  }
}

@media (max-width: 960px) {
  h3 {
    font-size: 1.25rem;
  }

  .header {
    &__title {
      justify-content: center;
      margin-right: 0;
    }
  }
}