<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <img src="../../../../assets/images/logo-rs.svg" alt="Rolling Scope School" />
  <div fxFlex fxLayout fxLayoutAlign="center" *ngIf="isLogged; else full">
    <h3>{{ title | translate }}</h3>
  </div>
  <ng-template #full>
    <div fxFlex fxLayout></div>
  </ng-template>
  <ul fxLayoutAlign="end" fxHide.xs>
    <ng-container *ngIf="isLogged; else login">
      <li *ngIf="currentPageUrl != '/main'">
        <a routerLink="/main">{{ "MainPage" | translate }}</a>
      </li>
      <li *ngIf="currentPageUrl == '/main'">
        <a routerLink="#" (click)="addNewBoard()">
          <mat-icon> add_card</mat-icon>
          {{ "AddBoard" | translate }}
        </a>
      </li>
      <li>
        <a routerLink="/auth/profile">
          <mat-icon> account_circle</mat-icon>
          {{ "Profile" | translate }}
        </a>
      </li>
      <li *ngIf="currentPageUrl == '/auth/profile'">
        <button mat-raised-button color="accent" (click)="deleteUser()">
          {{ "Delete-profile" | translate }}
        </button>
      </li>
    </ng-container>
    <app-language-switcher></app-language-switcher>
    <ng-container *ngIf="isLogged">
      <li>
        <a routerLink="#" (click)="logout()">
          <mat-icon> logout</mat-icon>
          {{ "Logout" | translate }}
        </a>
      </li>
    </ng-container>
    <ng-template #login>
      <li>
        <a routerLink="/auth/login">
          <mat-icon> login</mat-icon>
          {{ "Login" | translate }}
        </a>
      </li>
    </ng-template>
  </ul>
</mat-toolbar>
