@import "src/styles";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form__question {
  font-size: 13px;
}

.form__link {
  margin-left: 5px;
}

.form__container {
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  padding: 20px 40px;
  margin: 8px;
}

.form__input {
  height: 40px;
  width: 300px;
  margin-bottom: 10px;
}

.form__input-title {
  display: block;
  color: gray;
  font-size: 10px;
  font-weight: normal;
  margin: 0 0 5px;
}

.form__submit {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  width: 125px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  background-color: $color-primary;
  &:disabled {
    background-color: $color-disabled;
  }
  &:disabled:hover {
    background-color: $color-disabled;
  }
  &:hover {
    background-color: $color-primary-hover;
  }
}

.form__title {
  margin: 10px 0;
  font-size: 18px;
}

.alert {
  padding: 0;
  color: red;
}

.alert-input {
  border-color: red;
  &:focus {
    border-color: red;
  }
}

.validation-error {
  margin: 0.5rem 0 0;
  font-size: 13px;
  &__indented {
    text-indent: 1rem;
    &::before {
    content: "*";
  }
  }
}
