<form class='form__container' [formGroup]='loginForm'>
  <h3 class='form__title'>{{ "LoginPage" | translate }}</h3>

  <label for="login" class='form__input-title'>{{ "Login-name" | translate }}</label>
  <input
    type='text'
    class='form__input'
    id='login'
    formControlName='login'
    autocomplete='off'
    required
    [ngClass]='login?.errors ? "alert-input" : ""'>
  <div class='alert'>
    <p
      class='validation-error'
      *ngIf='login?.hasError("required")'>
      {{ "Validation-login" | translate }}
    </p>
  </div>

  <label for="password" class='form__input-title'>{{ "Password" | translate }}</label>
  <input
    type='password'
    class='form__input'
    id='password'
    formControlName='password'
    required
    [ngClass]='password?.errors ? "alert-input" : ""'>
  <div class='alert'>
    <p
      class='validation-error'
      *ngIf='password?.hasError("required")'>
      {{ "Validation-password" | translate }}
    </p>
  </div>
  <button
    mat-raised-button
    color="accent"
    class='form__submit'
    (click)='signin()'
    type="button"
    [disabled]='haveValidationErrors()'>{{ "Login" | translate }}
  </button>
</form>
