.main-page {
  &__wrapper {
    height: 100%;
    width: 70%;
    margin: 0 auto;
    padding: 0 3vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 20vw 7vw #212121;
  }

  &__default,
  &__content {
    margin-top: 5vh;
    font-size: 1.6rem;
  }

  &__btn-create {
    border: none;
    outline: none;
    width: fit-content;
    margin-top: 2vh;
    padding: 1rem 4rem;
    border-radius: .5rem;
    font-size: 1.45rem;
    background-color: #212121;
    color: #FF2E63;
    transition: all .25s;

    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 8px lighten(#212121, 20%);
      color: darken(#FF2E63, 10%);
    }
  }

  &__list {
    list-style: none;

    display: grid;
    grid-row-gap: 1.5vh;

    max-height: 50vh;
    overflow-y: auto;
    height: fit-content;
    padding: 2vh 1vw;
    margin: 0;

    border: 1px dashed #212121;
    border-radius: 5px;
  }

  &__item {
    margin: .5rem 0;
    padding: .5rem 1.5rem;
    border-radius: .5rem;
    border: 1px solid #212121;
    font-size: 1.25rem;
    transition: all .25s;

    &:hover {
      cursor: pointer;
      background-color: darken(#BBE1FA, 15%);
    }
  }
}

ul {
  margin: 0;
  padding: 0;
}

:host {
  height: 100%;
  width: 100%;
  background-color: #BBE1FA;
  color: #212121;
}