:host {
  display: flex;
}

.board-page {
  &__item {
    max-height: 56vh;
    overflow-y: auto;
    margin-top: 2vh;
    font-size: 1.2rem;
    letter-spacing: -.5px;
    margin-bottom: .5rem;
    padding: .4rem 1rem;
    border: 1px solid #212121;
    border-radius: 5px;

    transition: all .25s;

    &:hover {
      cursor: pointer;
      background-color: #9DF3C4;
    }

    &-descr {
      margin-right: .5rem;
    }

    &-input {
      padding: 2px 5px;
      font-weight: 500;
      outline: none;
      border: 1px solid transparent;
      border-radius: 3px;
      background-color: transparent;

      transition: all .25s;

      &:focus {
        border: 1px solid #212121;
        background-color: #f5f5f5;
      }
    }
  }



  &__config {
    display: flex;
    align-items: center;
    margin: 1vh 0 2vh 0;
  }

  &__item-name {
    letter-spacing: 1px;
    font-weight: 500;
  }

  &__card-list {
    list-style: none;
    display: grid;
    padding: 0;
    margin: 0;
  }
}