<li class="board-page__item">
  <span class="board-page__item-descr"
    >{{ "board__title-column" | translate }}: </span
  ><span class="board-page__item-name">{{ column.title }}</span>
  <mat-icon (click)="deleteColumn()">delete</mat-icon>
  <mat-icon (click)="onClickCreateCard()">add</mat-icon>
  <ul class="board__card-list" *ngIf="boardCardArr$ | async; let cards">
    <app-board-card
      *ngFor="let card of cards"
      [card]="card"
      (edited)="refresh()"
      (removed)="refresh()"
    >
    </app-board-card>
  </ul>
</li>
