@use '@angular/material' as mat;
@include mat.core();

// Define a light theme
$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme((color: (primary: $light-primary,
        accent: $light-accent,
      )));

// Define a dark theme
$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);
$dark-theme: mat.define-dark-theme((color: (primary: $dark-primary,
        accent: $dark-accent,
      )));

// Apply the dark theme by default
@include mat.core-theme($dark-theme);
@include mat.button-theme($dark-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-icon {
  margin: 0 2px 0 2px;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  border: 1px solid #212121;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken(#212121, 10%);
}

$color-primary: #0D6EFD;
$color-primary-hover: #779dd4;
$color-disabled: #999;
$color-background-gray: #CCC;
$color-danger: #DC3545;
$color-danger-hover: #D77780;