.result__item {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin: 5px 10px;
}

.result__link {
  display: block;
  color: #BBE1FA;
  transition: all .25s;

  &:hover {
    cursor: pointer;
    color: #FF2E63;
  }
}

.column-one {
  width: 120px;
}

.column-two {
  width: 200px;
}