:host {
  display: flex;
}

select {
  background-color: #212121;
  color: #9DF3C4;
  letter-spacing: .15em;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  padding: 0 2px 0 5px;
  border: 1px solid #9DF3C4;
  cursor: pointer;
  &:focus, &:active {
    outline: 0;
  }

  option {
    background-color: #212121;
    letter-spacing: .15em;
    border: 0;
  }
}
