<div class="start-page__wrapper">
  <h2 class="start-page__about-course">
    {{ "startPage__about-course" | translate }}
    <a
      href="https://rs.school/angular/"
      target="_blank"
      class="start-page__about-course_link"
      >{{ "startPage__about-course_link" | translate }}</a
    >
  </h2>
  <div class="start-page__border"></div>

  <section class="start-page__section start-page__left">
    <h2 class="start-page__title start-page__title_left">
      {{ "startPage__about-header" | translate }}
    </h2>
    <p class="start-page__description">
      {{ "startPage__about-description" | translate }}
    </p>
  </section>

  <button class="start-page__signup" routerLink="/auth/signup">
    {{ "startPage__signup" | translate }}
  </button>

  <section class="start-page__section start-page__right">
    <h2 class="start-page__title start-page__title_right">
      {{ "startPage__teamwork-header" | translate }}
    </h2>
    <p class="start-page__description start-page__description_right">
      {{ "startPage__teamwork-description" | translate }}
    </p>
  </section>

  <section class="start-page__section start-page__left">
    <h2 class="start-page__title start-page__title_left">
      {{ "startPage__board-header" | translate }}
    </h2>
    <p class="start-page__description">
      {{ "startPage__board-description" | translate }}
    </p>
  </section>

  <section class="start-page__section start-page__right">
    <h2 class="start-page__title start-page__title_right">
      {{ "startPage__card-header" | translate }}
    </h2>
    <p class="start-page__description start-page__description_right">
      {{ "startPage__card-description" | translate }}
    </p>
  </section>

  <div class="start-page__border"></div>

  <section class="start-page__video">
    <h2 class="start-page__video-header">
      {{ "startPage__video_header" | translate }}
    </h2>
  </section>

  <div class="start-page__border"></div>

  <section class="start-page__section">
    <ul class="start-page__team">
      <li class="start-page__member member">
        <h4 class="member__header">
          {{ "startPage__team-title_wixhub" | translate }}
        </h4>
        <img
          src="../../../../assets/images/wixhub.webp"
          alt="team member img"
          class="member__img"
        />
        <p class="member__descr">
          {{ "startPage__team-description_wixhub" | translate }}
        </p>
      </li>
      <li class="start-page__member member">
        <h4 class="member__header">
          {{ "startPage__team-title_valentine909" | translate }}
        </h4>
        <img
          src="../../../../assets/images/valentine909.webp"
          alt="team member img"
          class="member__img"
        />
        <p class="member__descr">
          {{ "startPage__team-description_valentine909" | translate }}
        </p>
      </li>
      <li class="start-page__member member">
        <h4 class="member__header">
          {{ "startPage__team-title_ts-andrey" | translate }}
        </h4>
        <img
          src="../../../../assets/images/ts-andrey.webp"
          alt="team member img"
          class="member__img"
        />
        <p class="member__descr">
          {{ "startPage__team-description_ts-andrey" | translate }}
        </p>
      </li>
    </ul>
  </section>
</div>
