<section class="start-page__left start-page__about-wrapper start-page__section">
  <h2 class="start-page__title start-page__about-title">Project managment application helps to keep track on your project tasks</h2>
  <p class="start-page__description start-page__about-description">With help of project managment application you can collaborate, manage projects and reach new productivity peaks. The way your team works can certainly be changed into a better one.</p>
</section>

<section class="start-page__right start-page__teamwork-wrapper start-page__section">
  <h2 class="start-page__title start-page__teamwork-title">It’s more than work. It’s a way of working together.</h2>
  <p class="start-page__description start-page__teamwork-description">Start with a creating a board, lists, and cards. Customize and expand with more features as your teamwork grows. Manage projects, organize tasks, and build team spirit—all in one place.</p>
</section>

<section class="start-page__left start-page__board-wrapper start-page__section">
  <h2 class="start-page__title start-page__board-title">The board is just the beginning</h2>
  <p class="start-page__description start-page__board-description">Lists and cards are the building blocks of organizing work on a Trello board. Grow from there with task assignments, timelines, productivity metrics, calendars, and more.</p>
</section>

<section class="start-page__right start-page__card-wrapper start-page__section">
  <h2 class="start-page__title start-page__card-title">Cards contain everything you need</h2>
  <p class="start-page__description start-page__card-description">Trello cards are your portal to more organized work—where every single part of your task can be managed, tracked, and shared with teammates. Open any card to uncover an ecosystem of checklists, due dates, attachments, conversations, and more.</p>
</section>