<section class="start-page__section start-page__left">
  <h2 class="start-page__title start-page__title_left">
    {{ "startPage__about-header" | translate }}
  </h2>
  <p class="start-page__description">
    {{ "startPage__about-description" | translate }}
  </p>
</section>

<button class="start-page__signup">
  {{ "startPage__signup" | translate }}
</button>

<section class="start-page__section start-page__right">
  <h2 class="start-page__title start-page__title_right">
    {{ "startPage__teamwork-header" | translate }}
  </h2>
  <p class="start-page__description start-page__description_right">
    {{ "startPage__teamwork-description" | translate }}
  </p>
</section>

<section class="start-page__section start-page__left">
  <h2 class="start-page__title start-page__title_left">
    {{ "startPage__board-header" | translate }}
  </h2>
  <p class="start-page__description">
    {{ "startPage__board-description" | translate }}
  </p>
</section>

<section class="start-page__section start-page__right">
  <h2 class="start-page__title start-page__title_right">
    {{ "startPage__card-header" | translate }}
  </h2>
  <p class="start-page__description start-page__description_right">
    {{ "startPage__card-description" | translate }}
  </p>
</section>
