:host {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.board {
  &__container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__header {
    font-size: 1.5rem;

    &-name {
      font-weight: 500;
    }
  }

  &__create-column {
    border: none;
    outline: none;
    width: fit-content;
    justify-self: end;
    padding: .5rem 2rem;
    border-radius: 5px;
    font-size: 1.15rem;
    background-color: #212121;
    color: #FF2E63;
    transition: all .25s;

    &:hover {
      cursor: pointer;
      box-shadow: 2px 2px 8px lighten(#212121, 20%);
      color: darken(#FF2E63, 10%);
    }
  }

  &__column-list {
    list-style: none;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1vw;
    padding: 2vh 1.5vw;
    margin: 2vh 0 0 0;
    max-width: 90vw;
    overflow-x: auto;
    border: 1px dashed #212121;
    border-radius: 5px;
  }
}